<div class="row" *ngIf="!showingInfo">
    <div class="row2" align="right" >
        <button mat-raised-button (click)="add()">
            Add
            <mat-icon class="edit" >add</mat-icon>
          </button>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Project</th>
          <td mat-cell *matCellDef="let item" fxFlex>{{ item.description }}</td>
        </ng-container>
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef fxFlex="100px">
            Edit
          </th>
          <td mat-cell *matCellDef="let item" fxFlex="100px">
            <button mat-icon-button class="table-btn btn-editar" (click)="edit(item)">
              <mat-icon class="edit" >edit</mat-icon>
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="use">
            <th mat-header-cell *matHeaderCellDef fxFlex="100px">
              Use
            </th>
            <td mat-cell *matCellDef="let item" fxFlex="100px">
              <button mat-icon-button class="table-btn btn-delete" (click)="replace(item)">
                <mat-icon class="danger" >check</mat-icon>
              </button>
            </td>
          </ng-container>
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef fxFlex="100px">
              Delete
            </th>
            <td mat-cell *matCellDef="let item" fxFlex="100px">
              <button mat-icon-button class="table-btn btn-delete" (click)="delete(item)">
                <mat-icon class="danger" >delete</mat-icon>
              </button>
            </td>
          </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr class="fila" mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    </table>
  <mat-paginator
    #paginator
    [pageSizeOptions]="[5, 10, 25, 100]"
  ></mat-paginator>
</div>
<app-info *ngIf="showingInfo" (onCancel)="cancel()" [project]="item" (onSave)="saveEvent($event)" ></app-info>