<div class="row2" align="center">
  <div class="principal row">
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title> Project Name </mat-panel-title>
          <mat-panel-description>
            {{ project.description }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row">
          
            <mat-form-field class="example-full-width">
              <mat-label>Project Name</mat-label>
              <input
                id="description"
                matInput
                [(ngModel)]="project.description"
              />
            </mat-form-field>
          
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title> Items </mat-panel-title>
          <mat-panel-description>
            Elements to search and replace
          </mat-panel-description>
        </mat-expansion-panel-header>
        
          <mat-form-field class="example-full-width">
            <mat-label>Look for...</mat-label>
            <textarea matInput [(ngModel)]="valueX" ></textarea>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>and Replace for...</mat-label>
            <textarea matInput [(ngModel)]="valueY"></textarea>
          </mat-form-field>
          <button mat-raised-button (click)="add()">Add</button>
        

        <br />
        <div class="container">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="valueX">
              <th mat-header-cell *matHeaderCellDef fxFlex>ValueX</th>
              <td mat-cell *matCellDef="let item" fxFlex>{{ item.valueX }}</td>
            </ng-container>
            <ng-container matColumnDef="valueY">
              <th mat-header-cell *matHeaderCellDef fxFlex>ValueY</th>
              <td mat-cell *matCellDef="let item" fxFlex><input matInput class="table-input" [(ngModel)]="item.valueY" /></td>
            </ng-container>
            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef fxFlex="100px">Delete</th>
              <td mat-cell *matCellDef="let item" fxFlex="100px">
                <button
                  mat-icon-button
                  class="table-btn btn-delete"
                  (click)="delete(item)"
                >
                  <mat-icon class="danger">delete</mat-icon>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr
              class="fila"
              mat-row
              *matRowDef="let row; columns: columnsToDisplay"
            ></tr>
          </table>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title> Manual Functionality </mat-panel-title>
          <mat-panel-description> For old browsers </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field class="entrada">
          <mat-label>Input</mat-label>
          <textarea
            class="col col-md-6"
            matInput
            rows="3"
            [(ngModel)]="input"
            (keyup.enter)="replace()"
          ></textarea>
        </mat-form-field>
        <mat-form-field class="entrada">
          <mat-label>Output</mat-label>
          <textarea
          class="col col-md-6"
          matInput
          rows="4"
          [(ngModel)]="output"
          ></textarea>
        </mat-form-field>
        <button mat-raised-button (click)="replace()">Replace</button>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title> Automated Functionality </mat-panel-title>
          <mat-panel-description>
            Just 1 click
          </mat-panel-description>
        </mat-expansion-panel-header>
        <button mat-raised-button (click)="replaceAuto()">Replace</button>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<div align="right">
  <button class="button-row" mat-raised-button (click)="cancel()">
    Cancel
    <mat-icon>cancel</mat-icon>
  </button>
  <button class="button-row" mat-raised-button (click)="save()">
    Save
    <mat-icon>save</mat-icon>
  </button>
</div>
