.principal{
    margin: 10px 10px 10px 10px ;
}
.texto{
    color: black;
    margin-right: 20px;
    margin-bottom: 5px;
}
p {
    width: 40%;
    margin: 10px;
    display: inline-block;
    border: 1px solid #110c0c; // Cambia el color y el grosor del borde según tus preferencias
    padding: 10px; // Añade espacio interior alrededor del texto
    display: inline-block; // Hace que el borde se ajuste al contenido del párrafo
  }
  .entrada{
    width: 100%;
  }
  .example-full-width{
    margin: 10px;
    width: 45%;
  }
  .container{
    height: 300px;
    width: 100%;
    overflow-y: auto;
  }
  .button-row{
    margin-inline: 10px;
  }
  .row{
    margin: 15px;
}
.mat-column-description {
    flex: 1 1 auto; /* la columna description ocupa todo el ancho disponible */
  }
  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 2px;
  }
  
  td, th {
    padding: 12px 16px;
    text-align: left;
    vertical-align: middle;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
  .table-input {
    background-color: rgba(0, 0, 0, 0.03);
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    padding: 8px 12px;
    width: 100%;
    outline: none;
  }
  
  .table-input:focus {
    box-shadow: 0 0 0 2px rgba(25, 118, 210, 0.5);
  }
  
  th {
    font-weight: bold;
  }
  
  .fila:hover {
    background-color: #60b0f222 !important;
  }
  .table-btn {
    margin-top: -10px !important;
    padding-bottom: 15px;
  }
  .danger{
    color: rgb(193, 89, 89);
  }
  .edit{
    color: rgba(42, 149, 202, 0.713);
  }
  .row button{
    margin-bottom: 10px;
  }
  .row2{
    align-self: right;
  }